{{- if (eq .IPFamily  "IPv4") }}
{{- range .ShootNetworks }}
iroute {{ printf "%s" .IP }} {{ cidrMask . }}
{{- end }}
{{- end }}

{{- if (eq .IPFamily "IPv6") }}
{{- range .ShootNetworks }}
iroute-ipv6 {{ printf "%s" . }}
{{- end }}
{{- end }}
